:root {
  --body-background: #23314b;
  --body-color: #23314b;
  --heading-color: 23314b;
  --action-color: #DF7785;
}

body {
  background-image: url("../../src/images/AmeliaNavy.jpg");
  background-size: 85rem;
  background-position-y: -5rem;
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #efb96e;
}

p {
  max-width: 43rem;
}

h1 {
  margin: 1rem 0 1rem;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 5rem auto 1rem auto;
  padding: 2rem 3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  background: rgba(255, 255, 255, .2);
  max-width: 50rem;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > header > nav ul {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > header > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 50rem;
  padding: 3rem;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

main p.subtitle {
  color: rgb(161, 161, 161);
  font-size: 14px;
  margin: 0;
  margin-top: -1rem;
}

main > h3 {
  margin-top: 3rem;
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}
