<footer>
  <%= link_to "GitHub", "https://github.com/egiurleo" %> •
  <%= link_to "Bluesky", "https://bsky.app/profile/emilysamp.dev" %> •
  <a href="mailto:emily.samp@icloud.com">Email</a>
</footer>
